<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Basic -->
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
   <meta name="keywords" content="" />
   <meta name="description" content="" />
   <meta name="author" content="" />



	<title>Poornima Institute Of Engineering And Technology</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/all.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/all.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/lightbox.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename= 'css/bootstrap.min (1).css') }}">
	<link rel="stylesheet" href="{{ url_for('static' , filename= 'css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/responsive.css') }}">
    <link href="{{ url_for('static',filename = 'css/font-awesome.min.css')  }}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/flexslider.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/owl.carousel.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/owl.theme.default.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/jquery.rateyo.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="css/meanmenu.min.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/inner-page-style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/style.css') }}">
	<link rel="stylesheet"  href="{{ url_for('static' , filename= 'css/style (1).css') }}">
	<link rel="stylesheet"  href="{{ url_for('static' , filename= 'css/style (2).css') }}">
	<link rel="stylesheet"  href="{{ url_for('static' , filename= 'css/style.css.css') }}">
     <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/style2.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
</head>


<body>
	<div id="page" class="site" itemscope itemtype="http://schema.org/LocalBusiness">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-left">
						<div class="top-header-block">
							<a href="mailto:2020pietcskhushi92@poornima.org" itemprop="email"><i class="fas fa-envelope"></i> 2020pietcskhushi92@poornima.org</a>
						</div>
						<div class="top-header-block">
							<a href="tel:+919950669422" itemprop="telephone"><i class="fas fa-phone"></i> +91 9950669422</a>
						</div>
					</div>
					<div class="top-header-right">
						<div class="social-block">
							<ul class="social-list">
								<li><a href=""><i class="fab fa-viber"></i></a></li>
								<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
								<li><a href=""><i class="fab fa-twitter"></i></a></li>
								<li><a href=""><i class="fab fa-skype"></i></a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<!-- Top header Close -->
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap" itemprop="logo">
						<img src="{{ url_for('static' , filename= 'images/logoo.jpg.jpg') }}" alt="Logo Image">
						<!-- <h1>Education</h1> -->
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="/">Home</a></li>
								
						
								<li><a href="/aboutus">About</a></li>
								<li><a href="/contact">Contact</a></li>
								<li><a href="/intern">Other projects</a></li>
							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>

		<section class="about-upper-section" itemprop="mainContentofPage">
			<div class="container">
				<article class="who-we-are">
					<h2 class="top-heading">who we are</h2>
					<p> It is  a web portal to understand basics of Machine Learning. It helps to understand data preprocessing, 
						Supervised machine learning, Unsupervised Machine Learning, Feature Engineering, Feature selection and Natural language processing. 
						It allows user to upload datasets and to be pre processed. It creates Machine Learning Model on Given datasets.
						It Extracts relevant features from datasets and also tranform Features. Natural languge Processing model is also constructed.
					  </p>	
				</article>
				
			</div>
		</section>

		<section class="team-members" itemprop="contributor">
			<div class="container">
				<h2 class="top-heading">meet our team</h2>
				<article class="developer-grid">
					<div class="developer-wrap">
						<img src="{{ url_for('static',filename = 'images/deepakmoud.jpg')  }}" alt="developer images">
						<h3>Deepak Moud</h3>
						<p>Associate Professor, HoD(CS&IT)</p>
						<ul>
							<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
							<li><a href=""><i class="fab fa-instagram"></i></a></li>
							<li><a href=""><i class="fab fa-twitter"></i></a></li>
							<li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>

					<div class="developer-wrap">
						<img src="{{ url_for('static',filename = 'images/uday.jfif')  }}" alt="developer images">
						<h3>Dr. Uday Pratap Singh </h3>
						<p>Associate Professor, Department of Computer Science</p>
						<ul>
							<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
							<li><a href=""><i class="fab fa-instagram"></i></a></li>
							<li><a href=""><i class="fab fa-twitter"></i></a></li>
							<li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>

					<div class="developer-wrap">
						<img src="{{ url_for('static',filename = 'images/shikhagautam.jfif')  }}" alt="developer images">
						<h3>Shikha Gautam</h3>
						<p>Associate Professor, Department of Computer Science</p>
						<ul>
							<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
							<li><a href=""><i class="fab fa-instagram"></i></a></li>
							<li><a href=""><i class="fab fa-twitter"></i></a></li>
							<li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>

					<div class="developer-wrap">
						<img src="{{ url_for('static',filename = 'images/khushi.jpg')  }}""images/developer-img.jpg" alt="developer images">
						<h3>Khushi Bisht</h3>
						<p>Student</p>
						<ul>
							<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
							<li><a href=""><i class="fab fa-instagram"></i></a></li>
							<li><a href=""><i class="fab fa-twitter"></i></a></li>
							<li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>

					
				</article>
			</div>
		</section>
		<!-- Team Members Closed  -->

		<section class="what-other-say">
			<div class="container">
				<div class="wrap-others-say">
					<h1>what other say about us</h1>
					<div id="carousel" class="flexslider">
						<ul class="slides">
							<li class="img-wrap">
								<figure>
									<img src="images/review-big-img.jpg" alt="Person Image">
									<figcaption class="hidden">
										<h3>Sagar Sapkota</h3>
										<h4>UI Designer</h4>
									</figcaption>
								</figure>
							</li>
							<li class="img-wrap">
								<figure>
									<img src="images/review-big-img.jpg" alt="Person Image">
									<figcaption class="hidden">
										<h3>Sagar Sapkota</h3>
										<h4>UI Designer</h4>
									</figcaption>
								</figure>
							</li>
							<li class="img-wrap">
								<figure>
									<img src="images/review-big-img.jpg" alt="Person Image">
									<figcaption class="hidden">
										<h3>Sagar Sapkota</h3>
										<h4>UI Designer</h4>
									</figcaption>
								</figure>
							</li>
							<li class="img-wrap">
								<figure>
									<img src="images/review-big-img.jpg" alt="Person Image">
									<figcaption class="hidden">
										<h3>Sagar Sapkota</h3>
										<h4>UI Designer</h4>
									</figcaption>
								</figure>
							</li>
							<li class="img-wrap">
								<figure>
									<img src="images/review-big-img.jpg" alt="Person Image">
									<figcaption class="hidden">
										<h3>Sagar Sapkota</h3>
										<h4>UI Designer</h4>
									</figcaption>
								</figure>
							</li>
							<li class="img-wrap">
								<figure>
									<img src="images/review-big-img.jpg" alt="Person Image">
									<figcaption class="hidden">
										<h3>Sagar Sapkota</h3>
										<h4>UI Designer</h4>
									</figcaption>
								</figure>
							</li>
							<li class="img-wrap">
								<figure>
									<img src="images/review-big-img.jpg" alt="Person Image">
									<figcaption class="hidden">
										<h3>Sagar Sapkota</h3>
										<h4>UI Designer</h4>
									</figcaption>
								</figure>
							</li>
							<li class="img-wrap">
								<figure>
									<img src="images/review-big-img.jpg" alt="Person Image">
									<figcaption class="fig">
										<h3 class="hidden">Sagar Sapkota</h3>
										<h4 class="hidden">UI Designer</h4>
									</figcaption>
								</figure>
							</li>
						</ul>
					</div>

					
		<!-- End of Others talk -->

		<section class="query-section">
			<div class="container">
				<p>Any Queries? Ask us a question at<a href="tel:+919950669422"><i class="fas fa-phone"></i> +91 9950669422</a></p>
			</div>
		</section>
		<!-- End of Query Section -->
		<footer class="page-footer">
			<div class="footer-first-section">
				<div class="container">
					<div class="box-wrap">
						<header>
							<h1>about</h1>
						</header>
						<p>Edugate is a great start for and education. Personnel or oganization to start the online business with 1 click</p>

						<h4><a href="tel:+919950669422"><i class="fas fa-phone"></i> +91 9950669422</a></h4>
						<h4><a href="2020pietcskhushi92@poornima.org"><i class="fas fa-envelope"></i> 2020pietcskhushi92@poornima.org</a></h4>
						
					</div>

					<div class="box-wrap">
						<header>
							<h1>quick contact</h1>
						</header>
						<section class="quick-contact">
							<input type="email" name="email" placeholder="Your Email*">
							<textarea placeholder="Type your message*"></textarea>
							<button>send message</button>
						</section>
					</div>

				</div>
			</div>
			<!-- End of box-Wrap -->
			<br><br><br>	
			
            <div class="col-md-12">
                <center><h3 class="section-title" style="text-align: center;">Sponsored by</h3></center>
              </div>
            
            <br>
            <br>

        <div class="container">
          <div class="row">
              <div class="col-xs-12 col-md-4">
                  <div class="card mb-3">
              
                      <div class="card">
                          <img style="max-height: 200px;" src="{{ url_for('static',filename = 'images/AICTEIdeaLabFooterLogo.png')  }}"
                              class="card-img-top" alt="...">
                          <div class="card-body">
                              <h5 class="card-title" style="text-align:center">IDEA LAB</h5>
                              
                          </div>
              
              
                      </div>
                  </div>
              </div>
              
              <div class="col-xs-12 col-md-4">
                  <div class="card mb-3">
              
                      <div class="card">
                          <img style="max-height: 200px;" src="{{ url_for('static',filename = 'images/nbanew.png')  }}"
                              class="card-img-top" alt="...">
                          <div class="card-body">
                              <h5 class="card-title" style="text-align:center">NBA</h5>
                              
                          </div>
              
              
                      </div>
                  </div>
              </div>
              
              <div class="col-xs-10 col-md-4">
                  <div class="card mb-3">

                      <div class="card">
                          <img style="max-height: 200px;"
                              src="{{ url_for('static',filename = 'images/aicte-logo.png')  }}"
                              class="card-img-top" alt="...">
                          <div class="card-body">
                              <h5 class="card-title"; style="text-align:center">AICTE MODROB DEEP LEARNING LAB</h5>
                              
                          </div>

                      </div>

                  </div>
              </div>
           </div>
        </div>
        
        <br><br><br><br><br>
        <div class="fixed-bottom ">
          <div class="bg-secondary " style="min-height: 40px;">

              <marquee style="color:#fff; margin-top: 7px;">
                  <h9>Developed by Khushi Bisht, Student, Department of Computer Engineering, PIET</h9>
              </marquee>
          </div>
        </div>
        <!-- change later-->
        <script src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js')  }}"></script>






        </div>
        <script type="text/javascript" src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js')  }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename = 'js/js/lightbox.js')  }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename = 'js/all.js')  }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename = 'js/isotope.pkgd.min.js')  }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename = 'js/owl.carousel.js')  }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename = 'js/jquery.flexslider.js')  }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename = 'js/jquery.rateyo.js')  }}"></script>
        <!-- <script type="text/javascript" src="js/jquery.mmenu.all.js"></script> -->
        <!-- <script type="text/javascript" src="js/jquery.meanmenu.min.js"></script> -->
        <script type="text/javascript" src="{{ url_for('static',filename = 'js/custom.js')  }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename = 'js/custom1.js')  }}"></script>
        <script src=src="{{ url_for('static',filename = 'js/jquery-3.4.1.min.js')  }}"></script>
        <!-- bootstrap js -->
        <script src="{{ url_for('static',filename = 'js/bootstrap.js')  }}"></script>

        </body>
        </html>
