<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Basic -->
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
   <meta name="keywords" content="" />
   <meta name="description" content="" />
   <meta name="author" content="" />



	<title>Poornima Institute Of Engineering And Technology</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/all.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/all.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/lightbox.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename= 'css/bootstrap.min (1).css') }}">
	<link rel="stylesheet" href="{{ url_for('static' , filename= 'css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/responsive.css') }}">
    <link href="{{ url_for('static',filename = 'css/font-awesome.min.css')  }}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/flexslider.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/owl.carousel.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/owl.theme.default.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/jquery.rateyo.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="css/meanmenu.min.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/inner-page-style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/style.css') }}">
	<link rel="stylesheet"  href="{{ url_for('static' , filename= 'css/style (1).css') }}">
	<link rel="stylesheet"  href="{{ url_for('static' , filename= 'css/style (2).css') }}">
	<link rel="stylesheet"  href="{{ url_for('static' , filename= 'css/style.css.css') }}">
     <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/style2.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
</head>


<body>
	<div id="page" class="site" itemscope itemtype="http://schema.org/LocalBusiness">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-left">
						<div class="top-header-block">
							<a href="mailto:2020pietcskhushi92@poornima.org" itemprop="email"><i class="fas fa-envelope"></i> 2020pietcskhushi92@poornima.org</a>
						</div>
						<div class="top-header-block">
							<a href="tel:+919950669422" itemprop="telephone"><i class="fas fa-phone"></i> +91 9950669422</a>
						</div>
					</div>
					<div class="top-header-right">
						<div class="social-block">
							<ul class="social-list">
								<li><a href=""><i class="fab fa-viber"></i></a></li>
								<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
								<li><a href=""><i class="fab fa-twitter"></i></a></li>
								<li><a href=""><i class="fab fa-skype"></i></a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<!-- Top header Close -->
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap" itemprop="logo">
						<img src="{{ url_for('static' , filename= 'images/logoo.jpg.jpg') }}" alt="Logo Image">
						<!-- <h1>Education</h1> -->
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="/">Home</a></li>
								
						
								<li><a href="/aboutus">About</a></li>
								<li><a href="/contact">Contact</a></li>
								<li><a href="/intern">Other projects</a></li>
								<li><a href="/qr">QR-code</a></li>
							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Header Close -->

    
		<!-- Banner Close -->
		<div class="page-heading">
			<div class="container">
				<h2>Machine Learnning MODELS for Fraud detection</h2>
			</div>
		</div>
		<!-- Popular courses End -->
		<div class="learn-courses">
			<div class="container">
				<div class="courses">
					<div class="owl-one owl-carousel">
						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">


							
						</div>
						</div>
						
						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap"  itemprop="image"><img src="{{ url_for('static' , filename= 'images/course-pic.jpg') }}" alt="courses picture"></div>
								<a href="/Decision" class="learn-desining-banner" itemprop="name">Decision Tree >>></a>
							<div class="box-body" itemprop="description">
								<br><p>A decision tree is a decision support tool that uses a tree-like model of decisions and their possible consequences, 
									including chance event outcomes, resource costs, and utility.
									It is one way to display an algorithm that only contains conditional control statements.</p>
							</div>
						</div>


						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap"  itemprop="image"><img src="{{ url_for('static' , filename= 'images/course-pic.jpg') }}" alt="courses picture"></div>
								<a href="/Rf" class="learn-desining-banner" itemprop="name">Random Forest >>></a>
							<div class="box-body" itemprop="description">
								<br><p>Random Forest is a popular machine learning algorithm that belongs to the supervised learning technique.
								    
								   Random Forest is a classifier that contains a number of decision trees on various subsets of the given dataset and takes the average to improve the predictive accuracy of that dataset."</p>
							</div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap"  itemprop="image"><img src="{{ url_for('static' , filename= 'images/course-pic.jpg') }}"alt="courses picture"></div>
								<a href="/Svm" class="learn-desining-banner" itemprop="name">SVM >>></a>
							<div class="box-body" itemprop="description">
								<br><p>The goal of the SVM algorithm is to create the best line or decision boundary that can segregate n-dimensional space into classes so that we can easily put the new data point in the correct category in the future.
								   This best decision boundary is called a hyperplane. 
								   </p>
							</div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap"  itemprop="image"><img src="{{ url_for('static' , filename= 'images/course-pic.jpg') }}" alt="courses picture"></div>
								<a href="/nvb" class="learn-desining-banner" itemprop="name">Naive Bayes >>></a>
							<div class="box-body" itemprop="description">
								<br><p>It is a classification technique based on Bayes’ Theorem with an assumption of independence among predictors.
								   In simple terms, a Naive Bayes classifier assumes that the presence of a particular feature in a class is unrelated to the presence of any other feature..</p>
								
							</div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap"  itemprop="image"><img src="{{ url_for('static' , filename= 'images/course-pic.jpg') }}" alt="courses picture"></div>
								<a href="/linear" class="learn-desining-banner" itemprop="name">Linear Regression >>></a>
							<div class="box-body" itemprop="description">
								<br><p>Linear regression is one of the easiest and most popular Machine Learning algorithms. It is a statistical method that is used for predictive analysis. Linear regression makes predictions for continuous/real or numeric variables such as sales, salary, age, product price, etc.</p>
								
							</div>
						</div>


						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap"  itemprop="image"><img src="{{ url_for('static' , filename= 'images/course-pic.jpg') }}" alt="courses picture"></div>
								<a href="/knn" class="learn-desining-banner" itemprop="name">K-Nearest Neighbor >>></a>
							<div class="box-body" itemprop="description">
								<br><p>K-NN algorithm assumes the similarity between the new case/data and available cases and put the new case into the category that is most similar to the available categories. 
								  
								   This means when new data appears then it can be easily classified into a well suite category by using K- NN algorithm. 
								    </p>
								
							</div>
						</div>



					</div>
				</div>
			</div>
		</div>
		<!-- Learn courses End -->
		
		<!-- Closed WhyUs section -->
		<section class="page-heading">
			<div class="container">
				<h2>gallery</h2>
			</div>
		</section>
		<section class="gallery-images-section" itemprop="image" itemscope itemtype=" http://schema.org/ImageGallery">
			<div class="gallery-img-wrap">
				<a href="{{ url_for('static' , filename= 'images/img1.jpg') }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="{{ url_for('static' , filename= 'images/img1.jpg') }}" alt="gallery-images">
				</a>
			</div>
			
			<div class="gallery-img-wrap">
				<a href="{{ url_for('static' , filename= 'images/img3.jpg') }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="{{ url_for('static' , filename= 'images/img3.jpg') }}" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="{{ url_for('static' , filename= 'images/img4.jpg') }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="{{ url_for('static' , filename= 'images/img4.jpg') }}" alt="gallery-images">
				</a>
			</div>
			
			<div class="gallery-img-wrap">
				<a href="{{ url_for('static' , filename= 'images/img6.jpg') }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="{{ url_for('static' , filename= 'images/img6.jpg') }}" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="{{ url_for('static' , filename= 'images/img7.jpg') }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="{{ url_for('static' , filename= 'images/img7.jpg') }}" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="{{ url_for('static' , filename= 'images/poornima.jpg') }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="{{ url_for('static' , filename= 'images/poornima.jpg') }}" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="{{ url_for('static' , filename= 'images/img8.jpg') }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="{{ url_for('static' , filename= 'images/img8.jpg') }}" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="{{ url_for('static' , filename= 'images/img9.jpg') }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="{{ url_for('static' , filename= 'images/img9.jpg') }}" alt="gallery-images">
				</a>
			</div>
			
		</section>				
		<!-- End of Others talk -->
	<br><br><br>	
    <div class="col-md-12">
        <center><h3 class="section-title" style="text-align: center;">Sponsored by</h3></center>
      </div>
    
    <br>
    <br>

<div class="container">
  <div class="row">
      <div class="col-xs-12 col-md-4">
          <div class="card mb-3">
      
              <div class="card">
                  <img style="max-height: 200px;" src="{{ url_for('static',filename = 'images/AICTEIdeaLabFooterLogo.png')  }}"
                      class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title" style="text-align:center">IDEA LAB</h5>
                      
                  </div>
      
      
              </div>
          </div>
      </div>
      
      <div class="col-xs-12 col-md-4">
          <div class="card mb-3">
      
              <div class="card">
                  <img style="max-height: 200px;" src="{{ url_for('static',filename = 'images/nbanew.png')  }}"
                      class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title" style="text-align:center">NBA</h5>
                      
                  </div>
      
      
              </div>
          </div>
      </div>
      
      <div class="col-xs-10 col-md-4">
          <div class="card mb-3">

              <div class="card">
                  <img style="max-height: 200px;"
                      src="{{ url_for('static',filename = 'images/aicte-logo.png')  }}"
                      class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title"; style="text-align:center">AICTE MODROB DEEP LEARNING LAB</h5>
                      
                  </div>

              </div>

          </div>
      </div>
   </div>
</div>
         

<br><br><br><br><br>
<div class="fixed-bottom ">
  <div class="bg-secondary " style="min-height: 40px;">

      <marquee style="color:#fff; margin-top: 7px;">
          <h9>Developed by Khushi Bisht, Student, Department of Computer Engineering, PIET</h9>
      </marquee>
  </div>
</div>
<!-- change later-->
<script src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js')  }}"></script>






</div>
<script type="text/javascript" src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js')  }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename = 'js/js/lightbox.js')  }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename = 'js/all.js')  }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename = 'js/isotope.pkgd.min.js')  }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename = 'js/owl.carousel.js')  }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename = 'js/jquery.flexslider.js')  }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename = 'js/jquery.rateyo.js')  }}"></script>
<!-- <script type="text/javascript" src="js/jquery.mmenu.all.js"></script> -->
<!-- <script type="text/javascript" src="js/jquery.meanmenu.min.js"></script> -->
<script type="text/javascript" src="{{ url_for('static',filename = 'js/custom.js')  }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename = 'js/custom1.js')  }}"></script>
<script src=src="{{ url_for('static',filename = 'js/jquery-3.4.1.min.js')  }}"></script>
<!-- bootstrap js -->
<script src="{{ url_for('static',filename = 'js/bootstrap.js')  }}"></script>

</body>
</html>
