<!DOCTYPE html>
<html>
<head>
	<title>education</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/all.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/all.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/lightbox.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/bootstrap.min.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/flexslider.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/owl.carousel.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/owl.theme.default.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/jquery.rateyo.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="css/meanmenu.min.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/inner-page-style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/style2.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
</head>
<body>
	<div id="page" class="site" itemscope itemtype="http://schema.org/LocalBusiness">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-left">
						<div class="top-header-block">
							<a href="mailto:2020pietcskhushi92@poornima.org" itemprop="email"><i class="fas fa-envelope"></i> 2020pietcskhushi92@poornima.org</a>
						</div>
						<div class="top-header-block">
							<a href="tel:+919950669422" itemprop="telephone"><i class="fas fa-phone"></i> +91 9950669422</a>
						</div>
					</div>
					<div class="top-header-right">
						<div class="social-block">
							<ul class="social-list">
								<li><a href=""><i class="fab fa-viber"></i></a></li>
								<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
								<li><a href=""><i class="fab fa-twitter"></i></a></li>
								<li><a href=""><i class="fab fa-skype"></i></a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<!-- Top header Close -->
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap" itemprop="logo">
						<img src="{{ url_for('static' , filename= 'images/logoo.jpg.jpg') }}" alt="Logo Image">
						<!-- <h1>Education</h1> -->
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="/">Home</a></li>
								
						
								<li><a href="/aboutus">About</a></li>
								<li><a href="/contact">Contact</a></li>
								<li><a href="/intern">Other projects</a></li>
							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>

<br><br>
			<!-- Top header Close -->


            <div class="learn-courses">
                <div class="container">
                    <div class="courses">
                        <div class="owl-one owl-carousel">
                            <div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">

                                </div>
                            </div>
                            
                            <div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
                               <div class="img-wrap" itemprop="image"><img src="{{ url_for('static' , filename= 'images/course-pic.jpg') }}" alt="courses picture"></div>
                                   <a href="https://khushi-assignment1.herokuapp.com/" class="learn-desining-banner" itemprop="name">House Price prediction using Linear Regression>>></a>
                               <div class="box-body" itemprop="description">
                                   <p></p>
                               </div>
                           </div>                            

                            <div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
                                <div class="img-wrap" itemprop="image"><img src="{{ url_for('static' , filename= 'images/course-pic.jpg') }}" alt="courses picture"></div>
                                    <a href=" https://khushi-project-6.herokuapp.com/" class="learn-desining-banner" itemprop="name">Placement prediction using All Models >>></a>
                                <div class="box-body" itemprop="description">
                                    <p></p>
                                </div>
                            </div>

                            <div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
                                <div class="img-wrap" itemprop="image"><img src="{{ url_for('static' , filename= 'images/course-pic.jpg') }}" alt="courses picture"></div>
                                    <a href=" https://khushi-customer-project7.herokuapp.com/ " class="learn-desining-banner" itemprop="name">Customers Type Prediction using  K means clustering>>></a>
                                <div class="box-body" itemprop="description">
                                    <p></p>
                                </div>
                            </div>

                            <div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
                                <div class="img-wrap" itemprop="image"><img src="{{ url_for('static' , filename= 'images/course-pic.jpg') }}" alt="courses picture"></div>
                                    <a href=" https://khushi-project-7.herokuapp.com/" class="learn-desining-banner" itemprop="name">Churn_Modelling Prediction using All Models >>></a>
                                <div class="box-body" itemprop="description">
                                    <p></p>
                                </div>
                            </div>

                            <div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
                                <div class="img-wrap" itemprop="image"><img src="{{ url_for('static' , filename= 'images/course-pic.jpg') }}" alt="courses picture"></div>
                                    <a href="https://khushi-project-4.herokuapp.com/" class="learn-desining-banner" itemprop="name">Passengers Survival Prediction using K nearest neighbor >>></a>
                                <div class="box-body" itemprop="description">
                                    <p></p>
                                </div>
                            </div>

                            <div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
                                <div class="img-wrap" itemprop="image"><img src="{{ url_for('static' , filename= 'images/course-pic.jpg') }}" alt="courses picture"></div>
                                    <a href="https://khushibisht-decision-tree-streamlit-deployment-app-0sn488.streamlitapp.com/" class="learn-desining-banner" itemprop="name">Social network ads Prediction using Decision Tree >>></a>
                                <div class="box-body" itemprop="description">
                                    <p></p>
                                </div>
                            </div>



    <div class="col-md-12">
        <center><h3 class="section-title" style="text-align: center;">Sponsored by</h3></center>
      </div>
    
    <br>
    <br>

<div class="container">
  <div class="row">
      <div class="col-xs-12 col-md-4">
          <div class="card mb-3">
      
              <div class="card">
                  <img style="max-height: 200px;" src="{{ url_for('static',filename = 'images/AICTEIdeaLabFooterLogo.png')  }}"
                      class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title" style="text-align:center">IDEA LAB</h5>
                      
                  </div>
      
      
              </div>
          </div>
      </div>
      
      <div class="col-xs-12 col-md-4">
          <div class="card mb-3">
      
              <div class="card">
                  <img style="max-height: 200px;" src="{{ url_for('static',filename = 'images/nbanew.png')  }}"
                      class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title" style="text-align:center">NBA</h5>
                      
                  </div>
      
      
              </div>
          </div>
      </div>
      
      <div class="col-xs-10 col-md-4">
          <div class="card mb-3">

              <div class="card">
                  <img style="max-height: 200px;"
                      src="{{ url_for('static',filename = 'images/aicte-logo.png')  }}"
                      class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title"; style="text-align:center">AICTE MODROB DEEP LEARNING LAB</h5>
                      
                  </div>

              </div>

          </div>
      </div>
   </div>
</div>
         

<br><br><br><br><br>
<div class="fixed-bottom ">
  <div class="bg-secondary " style="min-height: 40px;">

      <marquee style="color:#fff; margin-top: 7px;">
          <h9>Developed by Khushi Bisht, Student, Department of Computer Engineering, PIET</h9>
      </marquee>
  </div>
</div>
<!-- change later-->
<script src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js')  }}"></script>






</div>
       <script type="text/javascript" src="{{ url_for('static' , filename='js/jquery-3.3.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static' , filename='js/lightbox.js') }} "></script>
	<script type="text/javascript" src="{{ url_for('static' , filename='js/all.js') }} "></script>
	<script type="text/javascript" src="{{ url_for('static' , filename='js/isotope.pkgd.min.js') }} "></script>
	<script type="text/javascript" src="{{ url_for('static' , filename='js/owl.carousel.js') }} "></script>
	<script type="text/javascript" src="{{ url_for('static' , filename='js/jquery.flexslider.js') }} "></script>
	<script type="text/javascript" src="{{ url_for('static' , filename='js/jquery.rateyo.js') }} "></script>
	<script type="text/javascript" src="{{ url_for('static' , filename='js/jquery.mmenu.all.js') }} "></script>
	<script type="text/javascript" src="{{ url_for('static' , filename='js/custom.js') }} "></script>
</body>
</html>
