<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Basic -->
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
   <meta name="keywords" content="" />
   <meta name="description" content="" />
   <meta name="author" content="" />



	<title>education</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/all.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/all.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/lightbox.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename= 'css/bootstrap.min (1).css') }}">
	<link rel="stylesheet" href="{{ url_for('static' , filename= 'css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/responsive.css') }}">
    <link href="{{ url_for('static',filename = 'css/font-awesome.min.css')  }}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/flexslider.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/owl.carousel.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/owl.theme.default.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/jquery.rateyo.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="css/meanmenu.min.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/inner-page-style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/style.css') }}">
	<link rel="stylesheet"  href="{{ url_for('static' , filename= 'css/style (1).css') }}">
	<link rel="stylesheet"  href="{{ url_for('static' , filename= 'css/style (2).css') }}">
	<link rel="stylesheet"  href="{{ url_for('static' , filename= 'css/style.css.css') }}">
     <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/style2.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
</head>


<body>
	<div id="page" class="site" itemscope itemtype="http://schema.org/LocalBusiness">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-left">
						<div class="top-header-block">
							<a href="mailto:2020pietcskhushi92@poornima.org" itemprop="email"><i class="fas fa-envelope"></i> 2020pietcskhushi92@poornima.org</a>
						</div>
						<div class="top-header-block">
							<a href="tel:+919950669422" itemprop="telephone"><i class="fas fa-phone"></i> +91 9950669422</a>
						</div>
					</div>
					<div class="top-header-right">
						<div class="social-block">
							<ul class="social-list">
								<li><a href=""><i class="fab fa-viber"></i></a></li>
								<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
								<li><a href=""><i class="fab fa-twitter"></i></a></li>
								<li><a href=""><i class="fab fa-skype"></i></a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<!-- Top header Close -->
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap" itemprop="logo">
						<img src="{{ url_for('static' , filename= 'images/logoo.jpg.jpg') }}" alt="Logo Image">
						<!-- <h1>Education</h1> -->
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="/">Home</a></li>
								
						
								<li><a href="/aboutus">About</a></li>
								<li><a href="/contact">Contact</a></li>
								<li><a href="/intern">Other projects</a></li>
							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>


<br><br><br>
 <h3><font color="blue"><center>{{prediction_text}}</center></font></h3>





    <br>
    <br> <br>
    <br> <br>
    <br>

    <div class="col-md-12">
        <center><h3 class="section-title" style="text-align: center;">Sponsored by</h3></center>
      </div>
    
    <br>
    <br>

<div class="container">
  <div class="row">
      <div class="col-xs-12 col-md-4">
          <div class="card mb-3">
      
              <div class="card">
                  <img style="max-height: 200px;" src="images/Aicte.png"
                      class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title" style="text-align:center">IDEA LAB</h5>
                      
                  </div>
      
      
              </div>
          </div>
      </div>
      
      <div class="col-xs-12 col-md-4">
          <div class="card mb-3">
      
              <div class="card">
                  <img style="max-height: 200px;" src="images/nbanew.png"
                      class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title" style="text-align:center">NBA</h5>
                      
                  </div>
      
      
              </div>
          </div>
      </div>
      
      <div class="col-xs-10 col-md-3">
          <div class="card mb-3">

              <div class="card">
                  <img style="max-height: 200px;"src='images/aicte-logo.png'
                      class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title"; style="text-align:center">AICTE MODROB DEEP LEARNING LAB</h5>
                      
                  </div>

              </div>

          </div>
      </div>



      <div class="bottom_bg">

        <!-- info section -->
        <section class="info_section ">
          <div class="container">
            <div class="info_box ">
              <div class="info_contact">
                <a href="https://www.google.com/maps/place/Poornima+Institute+of+Engineering+and+Technology/@26.7677794,75.8481925,17z/data=!3m1!4b1!4m5!3m4!1s0x396dc91e898380fd:0xeee859ae1f1b64b0!8m2!3d26.7677794!4d75.8503812">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span>
                    Location
                  </span>
                </a>
                <a href="">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span>
                    +01 1234567890
                  </span>
                </a>
                <a href="">
                  <i class="fa fa-envelope"></i>
                  <span>
                    poornima@gmail.com
                  </span>
                </a>
              </div>
              <div class="social_box">
                <a href="https://www.facebook.com/PoornimaInstitute/">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/PIET_Jaipur?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/authwall?trk=gf&trkInfo=AQGcToVIt0ueFAAAAYKiQf2QwMOorWDmqvhC9rxQJZXUREcn-QeOntYmp8zBpiqrQVhv1Q8Q7BUkbc-uZxUw4fmJOXyuy-OkP6tED_dP7wzPpb1RK3bMsHtu0qES3ocqkKioJPM=&original_referer=https://www.google.com/&sessionRedirect=https%3A%2F%2Fin.linkedin.com%2Fschool%2Fpoornima-college-of-engineering-jaipur%2F">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </section>
        <!-- end info_section -->
    </div>


    <br><br><br><br><br><br><br><br>
    <div class="fixed-bottom ">
        <div class="bg-white " style="min-height: 40px;">

            <marquee style="color:purple; margin-top: 7px;">
                <h9>Developed by Department of Computer Engineering, PIET</h9>
            </marquee>
        </div>
    </div>
    


    </div>

    
<!-- jQery -->
<script src="js/jquery-3.4.1.min.js"></script>
<!-- bootstrap js -->
<script src="js/bootstrap.js"></script>
<!-- custom js -->
<script src="js/custom.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
<!-- End Google Map -->
 
</body>
</html>